body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

h1 {
    text-align: center;
}

.balance-section {
    text-align: center;
    margin-bottom: 20px;
}

#balance {
    color: green;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.container button {
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f2f2f2;
    padding: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense {
    color: red;
}

.income {
    color: green;
}

.display {
    position: absolute;
}

.display h1,
.display h2 {
    text-align: center;
}

.display button { 
    background-color: #752ecc;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}